## HMDA

------

### Pull and Query Dataset

In [84]:
import urllib3, json
from pymongo import MongoClient
from pprint import pprint

import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [76]:
def pull_dataset(year, state_code, county_code):
    http = urllib3.PoolManager()
    
    # url includes the list of keys
    cfpb_url = ('https://api.consumerfinance.gov/data/hmda/slice/hmda_lar.json?&'
        '$where=as_of_year='+year+'+AND+((state_code='+state_code+'+AND+county_code+IN+'+county_code+'))&'
        '$select=tract_to_msamd_income,rate_spread,population,minority_population,'
        'number_of_owner_occupied_units,number_of_1_to_4_family_units,loan_amount_000s,'
        'hud_median_family_income,applicant_income_000s,state_name,state_abbr,sequence_number,'
        'respondent_id,purchaser_type_name,property_type_name,preapproval_name,owner_occupancy_name,'
        'msamd_name,loan_type_name,loan_purpose_name,lien_status_name,hoepa_status_name,edit_status_name,'
        'denial_reason_name_3,denial_reason_name_2,denial_reason_name_1,county_name,co_applicant_sex_name,'
        'co_applicant_race_name_5,co_applicant_race_name_4,co_applicant_race_name_3,co_applicant_race_name_2,'
        'co_applicant_race_name_1,co_applicant_ethnicity_name,census_tract_number,as_of_year,'
        'application_date_indicator,applicant_sex_name,applicant_race_name_5,applicant_race_name_4,'
        'applicant_race_name_3,applicant_race_name_2,applicant_race_name_1,applicant_ethnicity_name,'
        'agency_name,agency_abbr,action_taken_name&$limit=0')
    
    response = http.request('GET', cfpb_url)
    json_data = json.loads(response.data.decode('utf-8'))

    return json_data['results']

In [77]:
st_louis = pull_dataset("2017", "42", "(101)")

client = MongoClient('localhost:27017')
db = client.hmda
db['st_louis'].insert_many(st_louis)

In [78]:
query_count = db.st_louis.count()
query_find_one = db.st_louis.find_one()

print("Number of Cases:", query_count)
print("\n<Case Example>")
pprint(query_find_one)

Number of Cases: 81040

<Case Example>
{'_id': ObjectId('5bd90852d997355210f1db2a'),
 'action_taken_name': 'Loan originated',
 'agency_abbr': 'HUD',
 'agency_name': 'Department of Housing and Urban Development',
 'applicant_ethnicity_name': 'Information not provided by applicant in mail, '
                             'Internet, or telephone application',
 'applicant_income_000s': 45,
 'applicant_race_name_1': 'Information not provided by applicant in mail, '
                          'Internet, or telephone application',
 'applicant_sex_name': 'Information not provided by applicant in mail, '
                       'Internet, or telephone application',
 'application_date_indicator': '',
 'as_of_year': 2017,
 'census_tract_number': '1053.00',
 'co_applicant_ethnicity_name': 'No co-applicant',
 'co_applicant_race_name_1': 'No co-applicant',
 'co_applicant_sex_name': 'No co-applicant',
 'county_name': 'St. Louis city',
 'hoepa_status_name': 'Not a HOEPA loan',
 'hud_median_family_income': 74300,
 'lien_status_name': 'Secured by a first lien',
 'loan_amount_000s': 120,
 'loan_purpose_name': 'Home purchase',
 'loan_type_name': 'Conventional',
 'minority_population': 93.0199966430664,
 'msamd_name': 'St. Louis - MO, IL',
 'number_of_1_to_4_family_units': 642,
 'number_of_owner_occupied_units': 417,
 'owner_occupancy_name': 'Owner-occupied as a principal dwelling',
 'population': 2450,
 'preapproval_name': 'Preapproval was not requested',
 'property_type_name': 'One-to-four family dwelling (other than manufactured '
                       'housing)',
 'purchaser_type_name': 'Fannie Mae (FNMA)',
 'rate_spread': '',
 'respondent_id': '7197000003',
 'sequence_number': '',
 'state_abbr': 'MO',
 'state_name': 'Missouri',
 'tract_to_msamd_income': 59.40999984741211}

In [79]:
def check_disticnt(keys):
    one_value_keys = []
    for key in keys:
        query_distinct = db.st_louis.distinct(key)
        if len(query_distinct) == 1:
            one_value_keys.append(key)
    
    return one_value_keys

keys = query_find_one
print("Number of Keys:", len(keys))
print("\nKeys to be dropped for having the same value:")
pprint(check_disticnt(keys))

Number of Keys: 36

Keys to be dropped for having the same value:
['sequence_number', 'application_date_indicator', 'as_of_year']

In [80]:
def convert_to_list(query_result, roundup_keys):
    doc_list = []
    for doc in query_result:
        for key in roundup_keys:
            try:
                doc[key] = round(doc[key], 2)
            except:
                doc[key] = "NaN"
        doc_list.append(doc)
        
    return doc_list

In [81]:
query_action_taken = db.st_louis.aggregate([
    {"$group": 
     {
        "_id": "$action_taken_name", 
        "count": {"$sum": 1},
        "amount": {"$avg": "$loan_amount_000s"},
        "income": {"$avg": "$applicant_income_000s"}
     }
    },
    {"$sort": {"count": -1}}
])

pprint(convert_to_list(query_action_taken, ['amount', 'income']))

[{'_id': 'Loan originated', 'amount': 235.84, 'count': 37867, 'income': 120.34},
 {'_id': 'Application denied by financial institution',
  'amount': 126.33,
  'count': 14689,
  'income': 85.51},
 {'_id': 'Loan purchased by the institution',
  'amount': 194.68,
  'count': 13541,
  'income': 105.88},
 {'_id': 'Application withdrawn by applicant',
  'amount': 253.22,
  'count': 9953,
  'income': 171.79},
 {'_id': 'File closed for incompleteness',
  'amount': 350.06,
  'count': 3156,
  'income': 85.99},
 {'_id': 'Application approved but not accepted',
  'amount': 196.26,
  'count': 1833,
  'income': 94.03},
 {'_id': 'Preapproval request denied by financial institution',
  'amount': 51.0,
  'count': 1,
  'income': 13.0}]

In [111]:
acceptance

[{'_id': None,
  'count': 37867,
  'amount': 235.84,
  'income': 120.34,
  'case_share': 1.0}]

In [112]:
field_val = "Loan originated"
total_count = db.st_louis.find({"action_taken_name": field_val}).count()

query_loan_originated = db.st_louis.aggregate([
    {"$match": {"action_taken_name": field_val}},
    {"$group": {"_id": "$applicant_race_name_1",
                "count": {"$sum": 1},
                "amount": {"$avg": "$loan_amount_000s"},
                "income": {"$avg": "$applicant_income_000s"}}
    },
    {"$sort": {"count": -1}},
    {"$addFields": {"case_share": {"$divide": ["$count", total_count]}}}
])

acceptance = convert_to_list(query_loan_originated, ['amount', 'income', 'case_share'])

In [113]:
field_val = "Application denied by financial institution"
total_count = db.st_louis.find({"action_taken_name": field_val}).count()

query_loan_originated = db.st_louis.aggregate([
    {"$match": {"action_taken_name": field_val}},
    {"$group": {"_id": "$applicant_race_name_1",
                "count": {"$sum": 1},
                "amount": {"$avg": "$loan_amount_000s"},
                "income": {"$avg": "$applicant_income_000s"}}
    },
    {"$sort": {"count": -1}},
    {"$addFields": {"case_share": {"$divide": ["$count", total_count]}}}
])

denial = convert_to_list(query_loan_originated, ['amount', 'income', 'case_share'])

In [114]:
pd.concat({'Accepted': pd.DataFrame(acceptance), 'Denied': pd.DataFrame(denial)})

                                                          _id   amount  \
Accepted 0                                              White   199.06
         1                          Black or African American   119.32
         2  Information not provided by applicant in mail,...   181.29
         3                                              Asian   194.74
         4                                     Not applicable   995.77
         5                   American Indian or Alaska Native   110.33
         6          Native Hawaiian or Other Pacific Islander   175.44
Denied   0                          Black or African American    73.78
         1                                              White   161.88
         2  Information not provided by applicant in mail,...   106.86
         3                                              Asian   142.42
         4                   American Indian or Alaska Native    51.81
         5                                     Not applicable  1132.82
         6          Native Hawaiian or Other Pacific Islander    57.76

            case_share  count  income
Accepted 0        0.57  21750  142.07
         1        0.16   6166   66.45
         2        0.12   4419  107.35
         3        0.07   2794   87.69
         4        0.07   2494  123.10
         5        0.00    143   67.50
         6        0.00    101  117.02
Denied   0        0.38   5643   56.30
         1        0.34   4927  127.78
         2        0.20   2925   72.38
         3        0.05    696   86.59
         4        0.02    230   52.08
         5        0.01    189  575.33
         6        0.01     79   53.81

------

### Transform JSON to CSV

------

### Preparation

------

[metadata](https://cfpb.github.io/api/hmda/fields.html)

[urllib3 Json](https://urllib3.readthedocs.io/en/latest/user-guide.html)
[PyMongo Tutorial](http://api.mongodb.com/python/current/tutorial.html)
[MongoDB Insert](https://www.w3schools.com/python/python_mongodb_insert.asp)